{% load i18n %}

{% comment %}Translators: Proverbs 29:1{% endcomment %}
<p>{% blocktrans %}He, that being often reproved hardeneth his neck, shall suddenly be destroyed, and that without remedy.{% endblocktrans %}</p>
{% comment %}Translators: Proverbs 29:2{% endcomment %}
<p>{% blocktrans %}When the righteous are in authority, the people rejoice: but when the wicked beareth rule, the people mourn.{% endblocktrans %}</p>
{% comment %}Translators: Proverbs 29:3{% endcomment %}
<p>{% blocktrans %}Whoso loveth wisdom rejoiceth his father: but he that keepeth company with harlots spendeth his substance.{% endblocktrans %}</p>